*, *:before, *:after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 50px;

}

.grid {
    margin-top: 100px;
    background-color: red;
    display: flex;
    width: 700px;
    height: 700px;
    justify-content: center;
    align-items: center;
    border: solid black 2px;

}

.get-user-input {
    display: flex;
    gap: 50px;
}

input {
    height: 50px;
    text-align: center;
    font-size: 30px;
}




.grid .cell {
    border: solid black 1px;

    
}
